      <div class="container">
        <p class="text-muted center"><%= link_to "このサイトについて", about_path %> | たろっと一覧 | 占ってみる</p>
        <p class="copyright center">Copyright &copy; <%= link_to "にゃんこたろっと", "./" %></p>
      </div>